{% extends "main/wrapper.html" %}
{% block content %}
<h1>Contact</h1>




<div class="background">
<h1>Последнии публицакции</h1>


  <div class="grid">
<div>
  <script type="text/javascript">
  teasernet_blockid = 885372;
  teasernet_padid = 313914;
  </script>
  <script type="text/javascript" src="http://yqeuu.com/33x/99c8/51b710f9/3a.js"></script>
</div>

<div>
  <script type="text/javascript">
  teasernet_blockid = 885375;
  teasernet_padid = 313914;
  </script>
  <script type="text/javascript" src="http://yqeuu.com/81b/74ef68300a3bf5d7.js"></script>
</div>

<div>
  <script type="text/javascript">
  teasernet_blockid = 885376;
  teasernet_padid = 313914;
  </script>
  <script type="text/javascript" src="http://yqeuu.com/62/6302b44c6671/b2aad28.js"></script>
</div>

<div>
  <script type="text/javascript">
teasernet_blockid = 885377;
teasernet_padid = 313914;
</script>
<script type="text/javascript" src="http://yqeuu.com/58f/6c33b65a/02738f5ba.js"></script>
</div>






  </div>
</div>


{% endblock %}
